<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>Etusivu</title>
        <meta charset="utf-8" /> 

    </head>

    <body>
        <h2>Drinkkilistaus</h2>

        <ul>
            <li th:each="drinkki : ${drinkit}">
                <a th:href="@{~/drinkki/{id}(id=${drinkki.id})}">
                    <span th:text="${drinkki.nimi}">Drinkki</span>
                </a>
            </li>   
        </ul>

        <ul>

            <li>
                <a href="drinkit">Luo uusi drinkki ja lisää drinkkeihin raaka-aineita</a>
            </li>
            <li>
                <a href="ainekset">Tarkastele ja lisää raaka-aineita</a>
            </li>
            <li>
                <a href="tilasto"> Tarkastele tilastoja</a>
            </li>
            

        </ul>
    </body>
</html>
